@model EveneumSample.Events.BankAccountOpenedEvent

<td>
    @Html.DisplayFor(model => model.Date)
</td>
<td>
</td>
<td>
    Bank account named '@Html.DisplayFor(model => model.AccountName)' is opened
</td>
<td>
</td>
