@{
    ViewData["Title"] = "Eveneum sample";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
</div>

<p>This is a sample app for the <a href="https://github.com/Eveneum/Eveneum">Eveneum</a> NuGet package, which is a package to implement the Event Store pattern to save events to a Cosmos database.</p>
<p>This app is built as a simple checking account register.  It implements 4 events:</p>
<ul>
    <li><code>OpenBankAccountEvent</code></li>
    <li><code>CloseBankAccountEvent</code></li>
    <li><code>CheckWrittenEvent</code></li>
    <li><code>MoneyDepositedEvent</code></li>
</ul>
<p>There is also a Snapshot implemented as <code>AccountSummarySnapshot</code>.</p>

<p>To see the app in action, click on the <a href="/account">here</a> or on "Accounts" at the top of this page.</p>


